{% block skills %}
	<div class="yui-gf">
	    
	    <div class="yui-u first">
	        <h2>Skills</h2>
	    </div>
	    
	    <div class="yui-u">
        {% for skill_type in resume["skills"] %}
            <div class="talent">
                <h2>{{ skill_type }}</h2>
                <p>{{ resume["skills"][skill_type] | join(', ') }} </p>
            </div>
        {% endfor %}
            
	    </div>
	</div><!--// .yui-gf -->
{% endblock skills %}